<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero Nombre: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
    <div>
        <label for="hero-edad">Heroe Edad: </label>
        <input id="hero-edad" [(ngModel)]="hero.edad" placeholder="edad">
    </div>
    <div>
        <label for="hero-poder">Heroe Poder: </label>
        <input id="hero-poder" [(ngModel)]="hero.poder" placeholder="poder">
    </div>

    <div>
        <label for="hero-identidad">Heroe Identidad: </label>
        <input id="hero-identidad" [(ngModel)]="hero.identidad" placeholder="identidad">
    </div>
    <div>
        <label for="hero-universo">Heroe Universo: </label>
        <input id="hero-universo" [(ngModel)]="hero.universo" placeholder="universo">
    </div>

  <button (click)="goBack()">Atras</button>
</div>
